*{
    margin:0px;
    padding:0px;

}
body{
    font-family: 'Playfair Display', serif;

}
nav{
    background-color:rgba(0,0,0,0.7);
}
nav  a{
    color:#fff;
    font-size:20px;
    margin-left:15px;
}
nav  li a:hover{
    color:#fff;
    background-color:#fff;
    color:#333333;
    border-radius: 2px;
}
.modal-body a{
    text-decoration: none;
}
header{

    background-image:url('../img/bg2.jpg');
    width:100%;
    min-height:670px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;

}
.siri{
    padding:10px 50px;
}
.radi{
    background-color:rgba(0,0,0,0.2);
    min-height:670px;
}
.pozadina{
    background-color:rgba(0,0,0,0.8);
    padding-top:160px;
    padding-bottom:120px;

}
.slika{
    
    background-image:url('../img/contant.jpg');
    width:100%;
    
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 9%);
}
h4{
    color:#fff;
    font-size:40px;
}
.da{
    padding-top:170px;
    padding-bottom:100px;
}
.kontis{
    background-color:rgba(255,255,255,0.3);
}

.opacity{
    background-color:rgba(0,0,0,0.7);
    border-radius: 2px;
}


.p{

    background-color:  #262626;
    padding-top:60px;
    padding-bottom:250px;
    
}
.p img{

    width:100%;
    
}
.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#262626;
text-align:center;
position:relative;
font-size:17px;
background:rgba(255,255,255,0.8);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}
.all{
    color:#000;
    font-size:35px;
}
.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}
.form-control:focus {
        border-color:#4d4d4d;
        box-shadow: 0 0 0 0.2rem rgba(38, 38, 38, 0.25);
    } 

.novo{
    padding-top:50px;
    padding-bottom:50px;
}
.form-control {
    border-radius: 2px;
}
.btn{
    border-radius: 2px;
}
.prvi{
    width:80%;
}
.drugi{
    width:20%;
}
#button {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  color:#fff;
  background-color: #000;
  padding-top:12px;
  border:1px solid #fff;
}

#button:hover {
  cursor: pointer;
  background-color: #000;
}
#button:active {
  background-color: #000;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

footer{
    background-color:  #262626;
    
}
.boja{
    background-color:  #262626;
    color:#fff;
}
.btn-link{
    color:#fff;

}
.btn-link:hover{
    color:#fff;
    text-decoration: none;
}
.btn-link1{
    color:#fff;
    font-size:21px;

}
.btn-link1:hover{
    color:#fff;
    text-decoration: none;
}
.card-header{
    border-bottom: 1px solid #fff;
    font-size: 23px;
    text-align: center;
}
h6{
    font-size:28px;
    
}

.ae p{
    font-size:20px;
    padding-top:28px;
}
.ae a{
    margin-top:10px;
    font-size:26px;
    color:#fff;
    text-decoration: none;
    margin-left:20px;
}
.mreze{
    padding-top:21px;
}
.ae a:hover{
    color:#fff;

}
.ae{
    padding-bottom:70px;
}
.aj{
    background-color:#1a1a1a;
}

.comments{
    padding-bottom:90px;
    
}
.belo{
    color: #1a1a1a;
    font-size:37px;
    padding-top:60px;
    padding-bottom:50px;

}
.belo1{
    color:#fff;
    font-size:37px;
    
    padding-bottom:50px;

}

.comment {
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em;
    *zoom: 1;
}

.comment-img {
    float: left;
    margin-right: 33px;
 
    overflow: hidden;
}

.comment-img .img {
    display: block;
   width: 50px;
    height: 50px;
}

.comment-body {
    overflow: hidden;
}

.comment .text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background-color: #fff;
}

.comment .text p:last-child {
    margin: 0px;
}

.comment .attribution {
    margin: 0.5em 0px 0px;
    font-size: 14px;
    color: #666;
}

/* Decoration */

.comments,
.comment {
    position: relative;
}

.
.nazad{
    margin-top:200px ;
}


.logout-form{
    display:none;
}



.rating {

    float: left;
    height: 46px;
    width: 100%;
    
}

.d-hidden{
    visibility:hidden;
}
.rating:not(:checked) > label {
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rating:not(:checked) > label:before {
    content: '★ ';
}
.rating > input:checked ~ label {
    color: #ffc700;    
}

.ora{
     color: #ffc700;    
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.usko{
    width:60%;
    margin:0px auto;
}
.dugme:hover{
    text-decoration: none;
    color:#fff;
    background-color:rgba(0,0,0,0);
}


.nav-link.active {
  color:#333333 !important;
  background-color:#fff !important;
}

.description{
    width: 100%;
}


@media (max-width: 575.98px) { 
    .opacity{
        margin:0px 20px;
        padding:65px 3px;
    }
        h1{
        font-size:37px;
        color:#fff;
    }
    h2{
        font-size:22px;
        color:#fff;
    }
    .radi{
        padding-top:55%;
    }
    .p{
      clip-path: polygon(
        0 0, /* left top */
        100% 0, /* right top */ 
        100% 100%, /* right bottom */
        0 95% /* left bottom */
      );

    }   
    .hovereffect a.info {

        font-size:22px;
}

.comment-img .img {
    display: none;
}
.usko{
    width:90%;
    
}
 }


@media (min-width: 576px) and (max-width: 767.98px) { 
    .opacity{
        margin:0px 20px;
        padding:70px 3px;
    }
        h1{
        font-size:45px;
        color:#fff;
    }
    h2{
        font-size:24px;
        color:#fff;
    }
        .radi{
    padding-top:38%;
}
    .p{
      clip-path: polygon(
        0 0, /* left top */
        100% 0, /* right top */ 
        100% 100%, /* right bottom */
        0 90% /* left bottom */
      );
    }
        .hovereffect a.info {

        font-size:13px;
        margin-top:20px;
}

.comment-img .img {
    display: none;
}
.usko{
    width:90%;
    
}
}


@media (min-width: 768px) and (max-width: 991.98px) { 
    .opacity{
        margin:0px 50px;
        padding:80px 10px;
    }
    h1{
    font-size:48px;
    color:#fff;
    }
    h2{
        font-size:27px;
        color:#fff;
    }
    .radi{
    padding-top:30%;
}

    .p{
      clip-path: polygon(
        0 0, /* left top */
        100% 0, /* right top */ 
        100% 100%, /* right bottom */
        0 90% /* left bottom */
      );
    }
            .hovereffect a.info {

        font-size:17px;
}
.comment-img .img {
    display: none;
}

.usko{
    width:80%;
    
}
 }


@media (min-width: 992px) and (max-width: 1199.98px) { 
    .opacity{
        margin:0px 130px;
        padding:80px 15px;
    }
    h1{
    font-size:56px;
    color:#fff;
}
h2{
    font-size:29px;
    color:#fff;
}
.radi{
    padding-top:21%;
}

    .p{
      clip-path: polygon(
        0 0, /* left top */
        100% 0, /* right top */ 
        100% 100%, /* right bottom */
        0 88% /* left bottom */
      );
    }
    .hovereffect a.info {

        font-size:15px;
        margin-top:30px;
}

 }


@media (min-width: 1200px) { 
    .opacity{
        margin:0px 200px;
        padding:80px 20px;
    }
h1{
    font-size:56px;
    color:#fff;
}
h2{
    font-size:30px;
    color:#fff;
}
.radi{
    padding-top:17%;
}

    .p{
      clip-path: polygon(
        0 0, /* left top */
        100% 0, /* right top */ 
        100% 100%, /* right bottom */
        0 87% /* left bottom */
      );
    }
    .hovereffect a.info {

        font-size:16px;
}

 }

 .moze{
    border-radius: 4px;
    padding:10px 50px;
}